<!--&lt;!&ndash; src/main/resources/templates/fragments/navbar.html &ndash;&gt;-->
<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--</head>-->
<!--<body>-->
<!--<div th:fragment="navbar">-->
<!--    <nav style="background:#333; padding:10px;">-->
<!--        <a th:href="@{/}" style="color:white; margin-right:15px;">Home</a>-->
<!--        <a th:href="@{/login}" style="color:white; margin-right:15px;">Login</a>-->
<!--        <a th:href="@{/signup}" style="color:white; margin-right:15px;">Signup</a>-->
<!--    </nav>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
